li {
  list-style-type: none;
}

ul {
  padding: 0;
  text-align: left;
  color: white;
}

ul .stat-value {
  font-family: "Fredoka One", cursive;
}

h1 {
  display: block;
  text-align: center;
  color: orange;
  font-family: "Fredoka One", cursive;
}

#pokemons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 3%;
  padding: 2%;
  background-color: orange;
  width: 180px;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
}

.sprite {
  cursor: pointer;
  background-color: white;
  margin: 5px;
  border-radius: 8px;
}

.sprite:hover {
  margin: 0;
  width: 106px;
}

#battle {
  width: 600px;
  height: 400px;
  position: fixed;
  z-index: 2;
}

#replay-button {
  display: inline-block;
  margin-top: 250px;
  padding: 2%;
  font-size: x-large;
  font-family: "Fredoka One", cursive;
  color: white;
  position: fixed;
  border-style: none;
  border-radius: 8px;
  z-index: 3;
  background-color: orange;
  cursor: pointer;
}

#replay-button:hover {
  background-color: white;
  color: orange;
  transition: all 2s ease-out;
}
